# Running Bernulli-RBM

In [1]:
import pandas as pd
import sklearn

In [3]:
df = pd.read_csv('dataset.csv', usecols=['Date','Open','High','Low','Close','Volume','Adj Close','Stock'])

In [5]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Stock
0,2006-01-03,0.710553,0.707904,0.705324,0.714383,5307000,21.399132,A
1,2006-01-04,0.715643,0.716495,0.723974,0.717436,4195800,21.456621,A
2,2006-01-05,0.712250,0.738488,0.726687,0.747286,4835400,22.018748,A
3,2006-01-06,0.747879,0.749485,0.748389,0.753392,6146300,22.133729,A
4,2006-01-09,0.752969,0.749828,0.759580,0.750000,4082800,22.069850,A

##Â Creating `Day` Column

In [6]:
df.loc[:,'Date'] = pd.to_datetime(df.loc[:,'Date'])
df.loc[:,'Day'] = df.loc[:,'Date'].dt.dayofweek/6

## Creating `return` column

In [63]:
def get_return(group):
    #%debug
    df.loc[df.loc[:,'Stock'] == group.name, 'Return'] = group.loc[:,'Close'].iloc[1:]/group.loc[:,'Close'].iloc[:-1]-1

In [64]:
df[:5000].groupby('Stock').apply(get_return)

Empty DataFrame
Columns: []
Index: []

In [65]:
df.loc[:,'Return'].iloc[2]

0.0